<div class="container">
  <div class="row">
    <div class="col-3 offset-md-1">
     <p class="h5 bg-secondary m-4 text-center">商品詳細</p> 
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <%=attachment_image_tag @item,:image,:fill,100,100, fallback:"no_image.jpeg"%>
    </div>
    <div class="col-9"></div>
  </div>
  