<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand display-1 d-inline p-2 bg-dark text-white text-center" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav offset-md-7">
        <li class="nav-item">
          <a class="nav-link border border-dark mr-4" href="/about">About<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link border border-dark mr-4" href="/items">商品一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link border border-dark mr-4" href="/customers/sign_up">新規登録</a>
        </li>
        <li class="nav-item">
          <a class="nav-link border border-dark" href="/customers/sign_in">ログイン</a>
        </li>
      </ul>
    </div>
</nav>